//-----------------------------------------------
// Base element styles shared across pages
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  font-size: $base-font-size;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
    // Bold might not be the best choice if you are
    // embedding a @font-face that's already bold
    font-weight: bold;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

a, a:active, a:visited {
    color: $link-color;
    text-decoration: none;
}
a:hover { color: $link-hover-color; }

strong, th, b {
  font-weight: bold;
}

.alert {
    color: #c11;
}

.flash {
    font-weight : bold;
    color : #f00;
    display: none;
}

.warning {
    background:#FFDDDD;
    color : #A44;
    text-align: center;
    display: none;
}

body {
	min-width:1024px;
}

.customButton {
    display: inline;
    padding: 5px 10px 3px;
    @include border-radius(5px);
    background-color: gray;
    border: 1px solid #666;
    text-decoration: none;
    a { color: white; }
    a:visited { color: white; }
    a:hover { color: $font-color-light; }
}

button, input[type="submit"], input[type="button"] {
    padding: 5px 10px 3px;
    @include border-radius(5px);
    background-color: gray;
    color: white;
    border: 1px solid #666;
    text-decoration: none;
}


select {
    font-size: 14px;
    padding: 2px;
}

@import "compass/css3/opacity";

#loadingDiv {
    z-index : 999999999999;
    position : absolute;
    background-color : #333;
    width : 100%;
    height : 100%;
    @include opacity(0.8);
    img {
        position : absolute;
        top:50%;
        left:50%;
        margin-top:-15px;
        margin-left:-30px;
    }
    #loadingMessage {
        position : absolute;
        top:50%;
        font-size : 22px;
        color : white;
        margin-top:20px;
        left : 50%;
        margin-left : -212px;
        width : 500px;
        text-align : center;
    }
}