// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #444;

$font-color-light: #eee;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: auto;  // color for selected text

$selected-background-color: #a8d1ff;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

$background-color: #eee;

