#passwordEdit, #passwordForgot {

    background: $background-color;
    
    #main {
        background: white;
        padding-top: 75px;
        padding-bottom: 50px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        width: 55%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        div,span,li,label,p,input {
            font-family: Arial;
            font-size: 18px;
        }
        p {
            margin : 10px 0px;
        }
        table {
            width: 100%;
            
            &#resetPass {
                margin-left: 30px;
            }
            label {
                text-align: right;
                margin: 10px;
            }
            td {
                padding-top: 10px;
            }
            tr {
                td:nth-child(1) {
                    text-align: right;
                }
                td:nth-child(2) {
                    text-align: left;
                }
            }
            h2 {
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #003333;
            }
        }
    }
}

