/* viz canvas */
#graph {
    width : 100%;
    height : 100%;
    position:absolute;
}

/* Auotocomplete */
.ui-corner-all {
    font-size : 14px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #636363;
}
input:-moz-placeholder, textarea::-moz-placeholder {
  color: #636363;
}

/* Query manipulation */
#queryWidget,#adjustmentWidget {
    background-color: rgba(100,100,220,0.1);
    padding: 10px;
    position:absolute;
    width: 420px;
    font-size : 16px;

    #showWidget{
        color: #44f;
        display: none;
    }
    #currentInterests {
        width: auto;
        float : left;
        background-color: rgba(210,210,240,0.9);
        max-width: 100%;
        position: relative;
        margin-top : 3px;

        #queryInterestTemplate {
            display : none;
        }

        h1{
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            padding-top : 10px;
            padding-bottom : 6px;
            margin-left : 20px;
        }
        #sliderKey {
            width : 140px;
            font-size : 12px;
            .lessLabel {
                float : left;
            }
            .moreLabel {
                float : right;
            }
        }

        .addedInterestDiv{
            margin-left : 15px;
            clear : both;
            padding: 6px;
            opacity: 1.0;
            width : 400px;

            .interestSlider {
                clear : both;
                float : left;
                width : 100px;
                position : relative;
                height : 8px;
                margin-right : 10px;
                top : 5px;
            }

            .interestKey {
                float : left;
                width : 20px;
                height : 20px;
                margin-right : 5px;
            }
            .addedInterest{
                display: inline;
                padding: 1px;
            }
        }

        // add new interests field
        #interestQuery{
            margin: 10px 20px 20px 20px;
            clear : both;
            width : 350px;
            font-size : 20px;
        }

        // hide search box link
        #hideWidget{
            color: #44f;
            position : absolute;
            top : 10px;
            right : 20px;
        }
    }
}