.background{
  width:200mm;
  height:130mm;
  border-radius:50px;
  font-size:20px;
  background: whitesmoke;
}
 .largeCircle{
   width:40px;
   height:40px;
   border-radius:50px;
   position:absolute;
}
.insideCircle{
   width:28px;
   border: 2px solid #ffffff;
   height:28px;
   border-radius:50px;
   font-size:20px;
   color: #ffffff;
   line-height:100px;
   text-align:center;
   position:absolute;
   top:1mm;
   left:9%;
}
     //up and working