.background{
  position: relative;
  width:924px;
  height:600;
  margin-left: auto;
  margin-right: auto;
  border-radius:50px;
  background: #f3f4f4;
}
h1{
  //margin-left: 115px;
  margin-right: auto;
  font: 30px Georgia;
  font-weight: bold;
}

p {
  font: 17px Georgia;
  color: #000000;
  //width: 175mm;
  //vertical-align: center;
}
 .largeCircle{
   width:50px;
   height:50px;
   border-radius:50px;
   //position:absolute;
}
.insideCircle{
   width:44px;
   border: 1px solid #ffffff;
   height:44px;
   border-radius:50px;
   font-size:20px;
   color: #ffffff;
   line-height:100px;
   text-align:center;
   position:relative;
   top: 0.5mm;
   left: 0.5mm;
}

div.textarea {
  position: absolute;
  left: 145px;
  top: 200px;
  right: 115px;
  bottom: 115px;

  input.submit {
     position: absolute;
     left: 0px;
     top: -30px;
  }

}

div.interestAdd {
  position: absolute;
  left: 84px;
  top: 79px;
  right: 115px;
  bottom: 115px;

  input.addButton {
    position: absolute;
    left: 153px;
    top: 0px;
  }

}

textarea {
  position: absolute;
  width: 45%;
  height: 40%;
  margin: 0; /* don't want to add to container size */
  border: 0; /* don't want to add to container size */
}
.radio-buttons{
  position:absolute;
  width:475px;
  //height:23px;
  //margin-left: 115px;
  //margin-top: 100px;
  border-radius:50px;
  border: 1px solid #ffffff;
  //background: orangered;
@include background-image(
linear-gradient(
left,
    #f5a3d6,
rgb(255, 255, 255) 47%,
    #b4f5a3
));
}


