/* Stylings for classes to apply across all parts of the page */



/**
 * Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
    font-size: 14px;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/** End reset */

h3 {
    margin-top: 8px;
    margin-bottom: 5px;
}

a {
    color: #2f9599;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color: #2F9599;
}

a:visited:hover {
    text-decoration:underline;
}

#wrapper {
    background: #ffe;
    min-height: 90%;
    position: relative;
}

.small {
    font-size: 1em;
    line-height: 1em;
}

.atxt {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #000000;
}

.atxt a {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #2f9599;
}

.btxt {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #000000;
}

.btxt a {
    font-family: helvetica, arial;
    font-size: 1em;
    line-height: 1.25em;
    color: #2f9599;
    text-decoration: none;
}

.padded {
    margin: 5px;
}

.padded2 {
    margin: 10px;
}

.padded3 {
    margin: 20px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.lined {
    outline: thin solid #496181;
}

.bullets {
    list-style-type: disc;
}

/* Styles dealing with the general layout of the page */

html, body {
    margin: 0;
    padding: 0;
    background-color: #A2AB8E;
    min-width: 1020px;
}

#mainContent {
    min-height:595px;
    min-width: 700px;
    height:100%;
    position: absolute;
    left: 0px;
    right: 320px;
}

#sidebar {
    background: #ffe;
    height: 100%;
    min-height: 595px;
    width: 320px;
    float: right;
    font-family: helvetica, verdana, arial, sans-serif;
}

#sidebar .padded2 {
    margin: 10px 0;
}

#wrapper {
    min-height: 100%;
    padding : 0 5px;
    overflow : hidden;
}


#main {
    overflow: hidden;
    padding-bottom: 25px;
}

/* Styles affecting the visualization */

#infovis {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background-color: #A2AB8E;
    min-width: 700px;
    height: 100%;
    min-height: 595px;
    position: absolute;
    right: 0px;
    left: 0px;
}

#infovis-canvaswidget {
    position: absolute !important;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.node {
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.node:hover {
    cursor: pointer;
    color: #fff;
    background-color: white;
}

.ttName {
    font-weight: bold;
    margin-bottom: 7px;
}

.ttDesc {
    margin-bottom: 7px;
}

.ttRel {
}

/* Styles that affect the sidebar*/

#account {
    /*text-align: right;*/
    font-size: 1em;
    font-family: helvetica, arial;
    margin: 5px 0 5px 0;
}

#account div {
    line-height : 1.4em;
}

h2#about {
    margin: 10px 0;
    text-align: center;
}

#mac_logo {
    overflow: hidden;
}

#searchBoxDiv, #personIdDiv, #interestIdDiv, #requestIdDiv{
    min-height: 135px;
}

#instructions {
    margin: 10px;
}

.topBorder {
    border-top: 1px dotted #CCCCCC;
}

.bottomBorder {
    border-bottom: 1px dotted #CCCCCC;
}

ul.styledList {
    font-size: 1em;
    list-style: none outside none;
    margin-left: 0;
    padding: 10px 0 10px 40px;
    text-indent: -1em;
}

ul#instruct_list li:hover {
    font-style: italic;
}

ul#instruct_list li:before, ul.styledList li:before{
    content: "\00BB \0020";
}

#logo {
    padding-bottom: 10px;
    position: absolute;
    left: 2px;
    top: 2px;
}

#logoImage {
    position: relative;
    left: -4px;
}

#logo .tagline {
    position : relative;
    top : -13px;
    left : 3px;
    color: #ddc;
    font-size: 1.0em;
    font-family: Arial;
    font-style : italic;
    line-height: 1.1em;
    width : 200px;
}

#logo .about {
    font-family: Arial;
    position : relative;
    top : 5px;
    left : 3px;    
}
#logo .about a {
    color : #ddc;
}

#hide {
    position: absolute;    
    bottom : 5px;
    left : 5px;
}

#hide a {
    color: #2f9599;
    font-size: 1em;
    line-height: 1em;
}

#show {
    position: absolute;
    bottom : 5px;
    right : 5px;
}

#show a {
    color: #FFFFEE;
    font-size: 1em;
    line-height: 1em;
}

#signin {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    display: block;
    font-size: 1em;
    margin: 15px 5px 15px 15px;
    padding: 10px 0;
    width: 90%;
    height:89px;
}

#signin label {
    display: block;
    float : left;
    clear : both;
    margin: 3px 3px;
    text-align: right;
    width : 67px;
    padding-top : 9px;
}

#signin input.login_input {
    display: block;
    float : left;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #EEEEEE;
    margin-bottom: 7px;
    margin-top: 2px;
    min-height: 20px;
    padding: 5px 2px;
    width: 200px;
}

#signin input.login_input:focus {
    border: 1px solid #000000;
}

#signin a.forgot_password {
    display: block;
    float: left;
    font-size: 1em;
    margin-left: 30px;
    padding-top : 3px;
}

.login_submit {
    display: block;
    float: left;
    clear:both;
    margin-bottom: 5px;
    margin-left: 75px;
    padding: 2px;
}



#pf_top_container {
    clear:both;
}

#pf_img {
    vertical-align : bottom;
    width : 0;
    padding : 0 10px 3px 0;
}

#pf_name {
    font-size: 1.25em;
    padding : 0;
    vertical-align : bottom;
    width : 100%;
}

#pf_inst {
    padding : 5px 0 0 0;
    color:#777777;
    font-size: 1.1em;
    vertical-align : middle;
}

#pf_dept {
    padding : 0;
    color:#777777;
    font-size: 1.1em;
    vertical-aling : bottom;
}

#pf_email {
    margin-top : 3px;
}


/* Styles that affect the account creation view*/

#editRequestDialog {
    background-color: #FFFFFF;
}

#registerDialog .registerLeft, #makeRequestDialog .registerLeft, #editRequestDialog .registerLeft {
    border-top: 1px solid #D7D7D7;
    padding: 15px 10px 20px 10px;
    width: 160px;
    background-color: #FFFFEE;
}

#right_value.email {
    float: right;
}

.icon {
    position: absolute;
    left: -9999px;   /*hides icons so they don't push the email field in modalCreateUser out of the way*/
}

.registerRight input{
	padding:3px;
	width:380px;
	height:40px;
	font-size:1.125em;
}
.registerRight input, .registerRight textarea{
	border: thin 1px #ccc;

}

.registerRight{
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #D7D7D7;
	float:right;
	padding:19px 10px;
	width:400px;
}

#editInterests, #requestDescriptionBox, #requestKeywordsBox{
    width:380px;
}

#formBox{
    border-bottom: 1px solid #D7D7D7;
    max-width:800px;
}

.profileImage{
    width:200px;
    float:left;
}

.personLinks{
    float: right;
    width: 370px;
}

.otherInstitutions{
    float: right;
    width: 370px;
}

#other_info {
    width:600px;
}

.linkField, .otherInstitutionField {
    float:left;
}

.linkValue, .otherInstitutionURL {
    float:right;
}

.linkField input, .otherInstitutionField input{
    width:150px;
}

#submit_edits {
}

.warning {
    background:#FFDDDD;
    font-size:1.125em;
    text-align: center;
}

#edit_profile_container {
    overflow-y:auto;
    overflow-x:hidden;
    /*height:600px;*/
}

#editProfileBar {
    height: 30px;
    border-bottom: 1px solid #D7D7D7;
}

#cancelAccountCreation {
    float: right;
}

/*#addLinkDiv {*/
    /*margin-top : 0;*/
    /*clear: both;*/
/*}*/


/* properties that affect the search bar and search view*/

.moreSearchResults {
    position: relative;
    top: 5px;
}

#searchBox {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #474953;
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 20px;
    padding: 10px 5px;
    width: 250px;
}

#searchBox:focus {
    background-color: #FFF;
    border: 1px solid #000;
    padding: 9px 4px;
}

#searchBoxDiv {
    margin-left: 10px;
    margin-right: 10px;
}

.searchHeader {
    margin-top: 10px;
}

.searchHeader a {
    font-size: 1em;
    margin-left: 5px;
}

#searchWrapper p {
    margin: 0;
}

#pageNav {
    text-align: center;
    margin: auto;
    padding-top: 15px;
    width: 300px;
    clear: both;
    height: 30px;
}

#deepSearchWrapper {
    min-height: 200px;
}

#requestResults #requestTittle {=
    font-weight: 600;
}

#requestResults p {
    margin: 0;
    margin-left: 10px;
}

#requestResults li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchDiv {
    margin: 5px 0 5px 0;
}

.personSearchResult {
    margin: 10px;
}
.personSearchInst {
    color: #000;
    margin-left: 25px;
}
.personSearchDept {
    color: #555;
    margin-left: 25px;
}

/* college filter related stuff*/

#editColleges {
    /*-moz-border-radius: 5px 5px 5px 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*padding-top: 20px;*/
    height: 380px;
    clear : both;
}


#submitColleges {
    text-align: center;
    padding: 5px;
}

#selectedColleges {
    /*-moz-border-radius: 5px 5px 5px 5px;*/
    /*-webkit-border-radius: 5px;*/
    background-color: #ffe;
    height: 300px;
    padding: 5px;
    margin: 5px;
    overflow: auto;
    clear : both;
}

#collegeFilterEditButtons {
    margin : 10px 0 10px 0;
    width : 100%;
    overflow : hidden;
}

#close {

}

#filterModal h3 {
    color : #F5F5E5;
    padding: 0px;
    margin: 0px;
}

#closeCollegeFilter {
    padding: 0px;
    margin: 0px;
    position : absolute;
    top : 8px;
    right : 8px;
}


#filterModal .college img {
    width : 10px;
}

#filterModal input[type='submit'] {
    font-size : 1.2em;
}

#addAllColleges {
    float: left;
}

#addCollege {
    float: left;
    margin-left : 5px;
}

#clearAllColleges {
    float: left;
}

#selectedColleges ul li{
    list-style-type:none;
}

#collegeSearchAuto {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    background: none repeat scroll 0 0 #FFF;
    border: 0 none;
    height: 25px;
    width: 160px;
    padding: 5px 3px;
    float: left;
    margin-left : 25px;
}

#collegeSearchAuto:focus {
    background-color: #FFF;
    border: 1px solid #000;
    padding: 4px 2px;

}

#collegeFilterButton {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}

#consortiaForm select {
    height: 0px;
    width: 161px;
    overflow: visible;
    position: relative;
    left: 168px;
    bottom: 17px;
}

#consortiaFilter {
    margin-bottom: -20px;
    margin-left: 5px;
}

@-moz-document url-prefix() {
    #filterModal input[type='submit'] {
        display: inline-block;
        font-size: 12px;
        line-height: 1.2em;
        margin: 2px 2px 0px 2px;
    }

    #collegeSearchAuto {
        margin: 0px 3px 0px 27px;
    }

    #consortiaFilter {
        margin-bottom: -22px;
    }
}

/* styles that affect the request for collaboration view*/

#coll_top_container {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

#coll_request {
}

#coll_request p {
    margin-bottom: 8px;
}

#coll_request p span {
    margin-right: 3px;
   line-height:1.5em;
    font-weight: bold;
}

#coll_title {
    font-size: 1.25em;
    margin-bottom: 10px;
    padding: 0px 0;
    margin-bottom: 10px;
    border-bottom: 3px #aaa solid;
}

#coll_kw {
}

#coll_created {
}

#coll_due {
}

#coll_desc {
    line-height: 1.25em;
}

/* Styles for the interest view*/

#interest_info {
}

h2#interest_selected {
    font-size: 1.5em;
    padding: 5px 0px;
    margin-bottom: 10px;
    border-bottom: 3px #aaa solid;
}

/*h2#interest_selected:before {*/
/*content: url(../assets/int_tag.png);*/
/*}*/

#interest_related {
}

#interest_people {
}

#interest_related h3, #interest_people h3, #wikipedia_links h3 {
}

#interest_related ul, #interest_people ul, #wikipedia_links ul {
    padding-left: 15px;
}

#interest_related ul li, #interest_people ul li, #wikipedia_links ul li {
    list-style-type: none;
    margin: 2px 0 0 8px;
}

#interest_related ul li:before, #interest_people ul li:before, #wikipedia_links ul li:before {
    content: "\00BB \0020";
}

#interest_related ul li a, #interest_people ul li a, #wikipedia_links ul li a  {
    margin-right: 3px;
}

#interest_related ul li span {
    font-size: 1em;
    color: #bbb;
}

/* other stuff */

h2 {
    line-height: 1.0em;
    font-style: normal;
    font-weight: normal;
}

h3 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
}

.registerLeft label {
    font-size: 1.5em;
}
.registerLeft label span {
    font-size: .66em;
    padding-top: 6px;
    font-family: Arial;
    display: block;
    color: #4F6F6E;
}

#edit_profile_container {
}

/**
* Image uploader configuration
*/
/*.profileImage {*/
    /*margin-top: 10px;*/
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    /*float: left;*/
/*}*/

.editPicture {
    font-size: 1em;
    text-align: center;
    line-height: 1.25em;
}

.editPicture .links {
    position: relative;
}

.editPicture .links a {
    z-index: -1;
}

#imgUploaderUploader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 25px;
    z-index: 100;
}

/**
 * Shilad's hacks to get the jqmodal looking better for development.
 */
#edit_pf .registerLeft, #makeRequestDialog .registerLeft, #editRequestDialog .registerLeft{
    float: left;
}
#edit_pf .right, #makeRequestDialog .registerRight, #editRequestDialog .registerRight {
    float: right;
}
#edit_pf .clear, #rfcForm .clear{
    clear: both;
}

/**
 * Shilad's link widget.
 */

.linkField, .otherInstitutionField { width : 150px; }
.linkValue, .otherInstitutionURL { width : 150px; }
.customLinkTemplate {
    display : none;
}

.linkField, .otherInstitutionField {
    width: 160px;
    padding-left: 5px;
    float: left;
}

.linkValue, .otherInstitutionURL {
    width: 160px;
    padding-left: 5px;
    float: left;
}

.removeLink {
    float: right;
    padding: 1px;
    font-size: 1.125em;
}

.customLinkTemplate {
    display: none;
}

/**
 * Progress bar
 */
.progressBar {
    display : none;
    background-image: url(../images/pbar-ani.gif);
}
.progressBar span {
    position : absolute;
}

#tagContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-width:700px;
    text-align: center;
    color: #d0d3b3;
    overflow : hidden;
}

#tagContainer a {
    color: #ffe;
    /*text-decoration:underline;*/
}

#tagline {
    position: relative;
    margin: auto;
    text-align: center;
    font-family: serif;
    font-size: 1.0em;
    width: auto;
}

#taglineLinks {
    color: #ffe;
    font-size: 1.0em;

}
#taglineLinks a {
    padding : 0 10px;
}

.flash {
    font-weight : bold;
    color : #f00;
    display : none;
}


/* About dialog */

#aboutJqm {
    padding : 10px;
    display : none;
}
#aboutJqm li, #aboutJqm div{
    font-size : 16px;
    color : #444;
}

#aboutJqm .instructions, #aboutJqm .instructions li {
    color : #000;
}

#aboutJqm ul.styledList {
    padding: 2px 0 0px 1em;
    line-height : 1.3em;
}

#aboutJqm {
    background-color : #ffe;
}
#aboutJqm >div {
    padding : 10px;
}

#aboutJqm .logo {
    padding-bottom : 0px;
}
#aboutJqm .tagline {
    position : relative;
    bottom : 24px;
    color: #776;
    font-size: 1.0em;
    font-family: Arial;
    font-style : italic;
    line-height: 1.1em;
}

#aboutJqm .closeImg {
    position : absolute;
    top : 5px;
    right : 5px;
}

#acknowledgements .acmLogo, #acknowledgements .mellonLogo, #acknowledgements .macLogo {
    background-color : #fff;
    border : 1px solid #ccc;
    font-family : Georgia !important;
    font-size : 18px  !important;
    padding : 7px;
    color : #666 !important;
    margin : 5px;
    width : auto;
}

#acknowledgements .acmLogo a, #acknowledgements .mellonLogo a, #acknowledgements .macLogo a {
    font-family : Georgia !important;
    font-size : 18px  !important;
    color : #666 !important;
}

#acknowledgements .acmLogo img {
    height : 17px;
    position : relative;
    bottom : -3px;
    margin-right : 5px;
}

#acknowledgements .macLogo img {
    height : 17px;
    position : relative;
    bottom : -3px;
    margin-right : 5px;
}

#team, #team span {
    font-size : 13px !important;
}

#team span {
    font-style : italic; 
}
#aboutJqm > div.close {
    padding : 0px;
}

#aboutJqm div.close div {
    width : 300px;
    font-size : 20px;
    color: #000;
    background-color : #fff;
    border : 1px inset #000;
    padding : 5px;
    text-align : center;
    margin : auto;
}



/**
 * Acknowledgements in the upper right corner of the visualization.
 */

#acknowledgements2 {
    position : absolute;
    top : 5px;
    right : 10px;
    z-index : 1;
    text-align : right;
}

#acknowledgements2 div:first-child {
    font-size : 14px;
    font-family: Arial;
    font-style : normal;
    color : #eed;
    margin-bottom : 6px;
}

#acknowledgements2 div {
    margin-bottom : 10px;
    font-family: Arial;
    font-size : 14px ;
    color : #eed;
    width : auto;
    font-style : normal;
    padding-left : 3px;
}
#acknowledgements2 div a {
    font-family : Georgia;
    font-size : 16px ;
    color : #ffe;
}

#acknowledgements2 a {
    color : #eed;
}

#acknowledgements2 .acm img{
    height : 28px;
    position : relative;
    top : 5px;
}
#acknowledgements2 .nsf img{
    height : 50px;
    position : relative;
    top : -5px;
}


/**
 * Slider
 */

#collegeFilterButton2 {
    position : absolute;
    top : 39px;
    left: 50%;
    margin-left: -200px;
    z-index : 1000;
    width : 400px;
    color: #333;
    text-align : center;
    font-size : 1.1em;
    font-family : Arial;
}

#collegeFilterButton2 a {
    color : #EEEEDD;
}

#slider {
    position : absolute;
    top : 5px;
    left: 50%;
    margin-left: -140px;
    z-index : 1000;
    width : 300px;
}

#slider a {
    font-size : 1.1em;
    font-family : Arial;
    color : black;
}
#slider .less, #slider .more {
    padding-top : 5px;
    float : left;
}
#slider .mid {
    float : left;
    margin : 5 10px;
}
#slider .tick {
    width : 20%;
    text-align : center;
    padding-top : 2px;
    position : relative;
    left : 2px;
    float : left;   
}
#slider .widget {
    width : 100px;
    margin : 0 10px;
    border : 1px solid #000;
}



/* Collaborator request list */

#listRequestContainer th {
    font-weight: bold;
}

#closeListRequests {
    padding: 0px;
    margin: 0px;
    position : absolute;
    top : 8px;
    right : 8px;
}


#listRequestContainer p {
    margin-bottom: 10px;
}

#listRequestContainer a {
    color : #eed;
}

#listRequestContainer td.title {
    color : #eed;
    width : 25%;
}
#listRequestContainer td.expires {
    width : 15%;
}
#listRequestContainer td.creator {
    width : 20%;
}
 #listRequestContainer td.description {
    width : 40%;
}

#listRequestContainer td {
    padding : 3px;
}
#listRequestContainer tr:hover {
    background-color : #859070;
    cursor : hand;
}
#listRequestContainer tr.even {
}

#listRequestContainer h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.inst_logo img {
    position:absolute;
    left : 5px;
    bottom: 5px;
    width : 150px;
}