@charset "UTF-8";
/** HTML5 ✰ Boilerplate  style.css contains a reset, font normalization and some base styles.  Credit is left where credit is due. Much inspiration was taken from these projects: - yui.yahooapis.com/2.8.1/build/base/base.css - camendesign.com/design/ - praegnanz.de/weblog/htmlcssjs-kickstart */
/** html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline) v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark html5doctor.com/html-5-reset-stylesheet/ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/** Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/ */
body { font: 13px/1.231 sans-serif; *font-size: small; }

/* Hack retained to preserve specificity */
@-moz-document url-prefix() { select, input, textarea, button { font: 100% sans-serif; } }

/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/** Minimal base styles. */
/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

small { font-size: 85%; }

strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre { /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */ white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

textarea { overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid { /*border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;*/ }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be separate No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection { background: #a8d1ff; color: auto; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #a8d1ff; }

body, select, input, textarea { color: #444444; font-size: 13px; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 26px; }

h2 { font-size: 24px; }

h3 { font-size: 16px; }

a, a:active, a:visited { color: #607890; text-decoration: none; }

a:hover { color: #003366; }

strong, th, b { font-weight: bold; }

.alert { color: #c11; }

.flash { font-weight: bold; color: #f00; display: none; }

.warning { background: #FFDDDD; color: #A44; text-align: center; display: none; }

body { min-width: 1024px; }

.customButton { display: inline; padding: 5px 10px 3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: gray; border: 1px solid #666; text-decoration: none; }
.customButton a { color: white; }
.customButton a:visited { color: white; }
.customButton a:hover { color: #eeeeee; }

button, input[type="submit"], input[type="button"] { padding: 5px 10px 3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: gray; color: white; border: 1px solid #666; text-decoration: none; }

select { font-size: 14px; padding: 2px; }

#loadingDiv { z-index: 999999999; position: fixed; background-color: #fff; width: 100%; height: 100%; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
#loadingDiv img { position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -30px; }

#loadingMessage { z-index: 9999999999; position: fixed; top: 50%; font-size: 22px; color: black; margin-top: 20px; left: 50%; margin-left: -212px; width: 500px; text-align: center; }

nav ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; float: right; padding-top: 8px; margin-right: 20px; cursor: pointer; overflow: visible; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
nav ul li:first-child, nav ul li.first { padding-left: 0; }
nav ul li:last-child { padding-right: 0; }
nav ul li.last { padding-right: 0; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; margin-left: 35px; position: relative; }
nav ul li:first-child, nav ul li.first { padding-left: 0; }
nav ul li:last-child { padding-right: 0; }
nav ul li.last { padding-right: 0; }
nav ul li img { position: relative; bottom: 3px; }
nav ul li.dropdown { background: url(../images/dropdown/dropdown_white.png) no-repeat right center; padding-right: 15px; }
nav ul li ul { display: none; list-style: none; position: absolute; left: 0; top: 18px; margin: 0; padding: 0; width: 170px; overflow: visible; border: 1px solid #111; background-color: #222; z-index: 5; }
nav ul li ul li { margin: 0; padding: 0; border-top: 1px solid #252525; border-bottom: 1px solid #444; clear: both; width: 170px; background-color: #222; }
nav ul li ul li a { display: block; width: 145px; background: #333333 url(../images/dropdown/dropdown_linkbg.gif) no-repeat 10px center; padding: 5px 0 5px 25px; }
nav ul li ul li a:hover { background: #777777 url(../images/dropdown/dropdown_linkbg.gif) no-repeat 10px center; }

#homePage header { background: url("../images/headerBackgroundHome.png"); height: 147px; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }
#homePage header #headerWrapper { width: 960px; margin-left: auto; margin-right: auto; position: relative; }
#homePage header #headerWrapper #logo { position: absolute; background: url(../images/macademiaRibbon.png) no-repeat; height: 214px; width: 163px; left: -16px; text-indent: -9999px; z-index: 1; }
#homePage header #headerWrapper h1 { text-indent: -9999px; background: url(../images/macademiaLogotype.png) no-repeat; height: 57px; width: 280px; position: absolute; left: 166px; top: 35px; }
#homePage header #headerWrapper h2 { text-shadow: 0 2px 3px black; color: #eeeeee; position: absolute; left: 172px; top: 98px; font-family: 'Helvetica Neue', sans-serif; font-size: 19px; font-weight: normal; }
#homePage header #headerWrapper #login { float: right; position: relative; top: 30px; left: 170px; }
#homePage header #headerWrapper #login .login_input { border: 1px solid gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; display: block; float: right; margin-bottom: 7px; margin-top: 2px; min-height: 15px; padding: 5px 2px; width: 167px; }
#homePage header #headerWrapper #login .login_submit { clear: both; display: block; float: left; margin-bottom: 5px; margin-left: 80px; }
#homePage header #headerWrapper #login .forgot_password { display: block; float: left; margin-left: 10px; margin-top: 5px; }
#homePage header #headerWrapper #login label { color: #eeeeee; clear: both; display: block; float: left; margin: 3px; padding-top: 9px; text-align: right; width: 67px; }
#homePage #main { width: 980px; margin-left: auto; margin-right: auto; padding-top: 20px; padding-left: 0px; }
#homePage #main #mainSearchBox { padding: 13px 0 13px 182px; margin-bottom: 25px; border-bottom: 1px solid #CCC; position: relative; }
#homePage #main #mainSearchBox #searchBox { font-size: 18px; padding: 14px 10px 12px 10px; width: 600px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0px 2px 2px 1px #acacac; -moz-box-shadow: inset 0px 2px 2px 1px #acacac; box-shadow: inset 0px 2px 2px 1px #acacac; border: 1px solid #999; }
#homePage #main #mainSearchBox #searchSubmit { position: absolute; top: 23px; left: 700px; font-size: 14px; padding: 7px 14px 5px; }
#homePage #main #mainSearchBox #consortia { font-size: 14px; margin-top: 15px; margin-left: -180px; }
#homePage #main #mainSearchBox #consortia ul { list-style-type: none; width: 960px; margin: 0 auto; text-align: center; }
#homePage #main #mainSearchBox #consortia ul div.more { display: none; text-align: center; }
#homePage #main #mainSearchBox #consortia ul li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; vertical-align: bottom; margin: 3px 20px; white-space: nowrap; }
#homePage #main #mainSearchBox #consortia ul li a { color: blue; }
#homePage #main #mainSearchBox #consortia ul li a:hover { text-decoration: underline; }
#homePage #main #slideshow { overflow: hidden; *zoom: 1; width: 980px; border-bottom: 1px solid #CCC; padding-bottom: 45px; margin-bottom: 25px; }
#homePage #main #slideshow .slide { width: 890px; padding-right: 60px; }
#homePage #main #slideshow .slide #graphThumb { float: left; margin-right: 40px; }
#homePage #main #slideshow .slide h3 { padding-top: 15px; font-size: 20px; font-weight: normal; color: #000; margin-bottom: 10px; }
#homePage #main #slideshow .slide p { font-size: 16px; font-weight: normal; color: #666; }
#homePage #main #slideshow .slide #entrancePortal { /*text-align: center;*/ font-size: 24px; margin-top: 25px; margin-bottom: 10px; }
#homePage #main #slideshow .slide #entrancePortal li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; margin: 3px; padding: 0; border: 0; width: 30px; height: 30px; overflow: hidden; background-color: black; }
#homePage #main #slideshow .slide #entrancePortal li img { max-width: 30px; }
#homePage #main #sponsors { text-align: center; margin-bottom: 10px; padding-bottom: 20px; }
#homePage #main #sponsors h3 { font-size: 16px; font-weight: normal; margin-bottom: 10px; }
#homePage #main #sponsors ul { list-style-type: none; width: 960px; margin: 0 auto; }
#homePage #main #sponsors ul li { display: inline; vertical-align: bottom; margin: 0 20px; }
#homePage #main #sponsors ul li img { max-width: 150px; max-height: 125px; }

#consortiaHome header { background: url("../images/headerBackgroundHome.png"); height: 147px; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }
#consortiaHome header #headerWrapper { width: 960px; margin-left: auto; margin-right: auto; position: relative; }
#consortiaHome header #headerWrapper #logo { position: absolute; background: url(../images/macademiaRibbon.png) no-repeat; height: 214px; width: 163px; left: -16px; text-indent: -9999px; z-index: 1; }
#consortiaHome header #headerWrapper h1 { text-indent: -9999px; background: url(../images/macademiaLogotype.png) no-repeat; height: 57px; width: 280px; position: absolute; left: 166px; top: 35px; }
#consortiaHome header #headerWrapper h2 { text-shadow: 0 2px 3px black; color: #eeeeee; position: absolute; left: 172px; top: 98px; font-family: 'Helvetica Neue', sans-serif; font-size: 19px; font-weight: normal; }
#consortiaHome header #headerWrapper #login { float: right; position: relative; top: 30px; left: 170px; }
#consortiaHome header #headerWrapper #login .login_input { border: 1px solid gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; display: block; float: right; margin-bottom: 7px; margin-top: 2px; min-height: 15px; padding: 5px 2px; width: 167px; }
#consortiaHome header #headerWrapper #login .login_submit { clear: both; display: block; float: left; margin-bottom: 5px; margin-left: 80px; }
#consortiaHome header #headerWrapper #login .forgot_password { display: block; float: left; margin-left: 10px; margin-top: 5px; }
#consortiaHome header #headerWrapper #login label { color: #eeeeee; clear: both; display: block; float: left; margin: 3px; padding-top: 9px; text-align: right; width: 67px; }
#consortiaHome #main { width: 980px; margin-left: auto; margin-right: auto; padding-top: 0px; padding-left: 0px; }
#consortiaHome #main #mainSearchBox { padding: 37px 0 32px 21px; position: relative; }
#consortiaHome #main #mainSearchBox #searchBox { font-size: 18px; padding: 14px 10px 12px 10px; width: 543px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0px 2px 2px 1px #acacac; -moz-box-shadow: inset 0px 2px 2px 1px #acacac; box-shadow: inset 0px 2px 2px 1px #acacac; border: 1px solid #999; }
#consortiaHome #main #mainSearchBox #searchSubmit { position: absolute; top: 47px; left: 482px; font-size: 14px; padding: 7px 14px 5px; }
#consortiaHome #main #mainSearchBox #consortia { font-size: 14px; margin-left: -180px; }
#consortiaHome #main #mainSearchBox #consortia ul { list-style-type: none; width: 90px; margin-left: 13em; text-align: left; }
#consortiaHome #main #mainSearchBox #consortia ul div.more { display: none; text-align: left; }
#consortiaHome #main #mainSearchBox #consortia ul li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; vertical-align: bottom; margin: 3px 20px; white-space: nowrap; }
#consortiaHome #main #mainSearchBox #consortia ul li a { color: blue; }
#consortiaHome #main #mainSearchBox #consortia ul li a:hover { text-decoration: underline; }
#consortiaHome #main h4 { padding-top: 2em; font-size: 216%; text-align: 10%; }
#consortiaHome #main #slideshow { overflow: hidden; *zoom: 1; width: 500px; padding-bottom: 9px; }
#consortiaHome #main #slideshow .slide { width: 500px; }
#consortiaHome #main #slideshow .slide #graphThumb { float: left; margin-right: 40px; }
#consortiaHome #main #slideshow .slide h3 { padding-top: 15px; font-size: 20px; font-weight: normal; color: #000; margin-bottom: 10px; }
#consortiaHome #main #slideshow .slide p { font-size: 16px; font-weight: normal; color: #666; }
#consortiaHome #main #slideshow .slide #entrancePortal { /*text-align: center;*/ font-size: 3px; margin-top: 10px; margin-bottom: 10px; }
#consortiaHome #main #slideshow .slide #entrancePortal li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; margin: 3px; padding: 0; border: 0; width: 30px; height: 30px; overflow: hidden; background-color: black; }
#consortiaHome #main #slideshow .slide #entrancePortal li img { max-width: 30px; }
#consortiaHome #main #sponsors { text-align: center; margin-bottom: 10px; padding-bottom: 20px; }
#consortiaHome #main #sponsors h3 { font-size: 16px; font-weight: normal; margin-bottom: 10px; }
#consortiaHome #main #sponsors ul { list-style-type: none; width: 960px; margin: 0 auto; }
#consortiaHome #main #sponsors ul li { display: inline; vertical-align: bottom; margin: 0 20px; }
#consortiaHome #main #sponsors ul li img { max-width: 150px; max-height: 125px; }
#consortiaHome .macaButton { width: 163px; height: 18px; float: left; background: url("../images/consortia/button_background.png") no-repeat; /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );*/ -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 5px; display: inline-block; color: #ffffff; font-family: arial; font-size: 15px; font-weight: bold; padding: 7px 5px; margin-left: 45em; }
#consortiaHome .macaButton:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00)); background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00'); background-color: #ce0100; }
#consortiaHome .macaButton:active { position: relative; top: 1px; }
#consortiaHome #cLogo { padding-left: 6em; padding-top: 3em; }
#consortiaHome h6 { font-size: 16px; }

#consortiaEdit header { background: url("../images/headerBackgroundHome.png"); height: 147px; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }
#consortiaEdit header #headerWrapper { width: 960px; margin-left: auto; margin-right: auto; position: relative; }
#consortiaEdit header #headerWrapper #logo { position: absolute; background: url(../images/macademiaRibbon.png) no-repeat; height: 214px; width: 163px; left: -16px; text-indent: -9999px; z-index: 1; }
#consortiaEdit header #headerWrapper h1 { text-indent: -9999px; background: url(../images/macademiaLogotype.png) no-repeat; height: 57px; width: 280px; position: absolute; left: 166px; top: 35px; }
#consortiaEdit header #headerWrapper h2 { text-shadow: 0 2px 3px black; color: #eeeeee; position: absolute; left: 172px; top: 98px; font-family: 'Helvetica Neue', sans-serif; font-size: 19px; font-weight: normal; }
#consortiaEdit header #headerWrapper #login { float: right; position: relative; top: 30px; left: 170px; }
#consortiaEdit header #headerWrapper #login .login_input { border: 1px solid gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; display: block; float: right; margin-bottom: 7px; margin-top: 2px; min-height: 15px; padding: 5px 2px; width: 167px; }
#consortiaEdit header #headerWrapper #login .login_submit { clear: both; display: block; float: left; margin-bottom: 5px; margin-left: 80px; }
#consortiaEdit header #headerWrapper #login .forgot_password { display: block; float: left; margin-left: 10px; margin-top: 5px; }
#consortiaEdit header #headerWrapper #login label { color: #eeeeee; clear: both; display: block; float: left; margin: 3px; padding-top: 9px; text-align: right; width: 67px; }
#consortiaEdit #main { width: 980px; margin-left: auto; margin-right: auto; padding-top: 0px; padding-left: 0px; }
#consortiaEdit #main .editPicture { text-align: center; line-height: 1.25em; float: left; }
#consortiaEdit #main .editPicture .links { position: relative; }
#consortiaEdit #main .editPicture .links a { z-index: -1; }
#consortiaEdit #main #imgUploaderUploader { position: absolute; top: 0px; left: 0px; width: 100px; height: 25px; z-index: 100; }
#consortiaEdit #main .center { text-align: center; }
#consortiaEdit #searchSubmit { margin-top: 100em; font-size: 14px; }
#consortiaEdit #text-area { margin: 10px 1px 0px 81px; width: 500px; height: 248px; background-color: whitesmoke; resize: none; border: 2.4px solid #000000; }
#consortiaEdit h4 { padding-top: 2em; font-size: 216%; text-align: 10%; }

header { background: url("../images/headerBackground.png"); height: 37px; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; color: #eeeeee; }
header #logo { position: absolute; background: url(../images/macademiaLogo.png) no-repeat; height: 124px; width: 159px; left: 16px; cursor: pointer; z-index: 9999; }
header a { color: #eeeeee; font-weight: normal; }
header a:visited { color: #eeeeee; }
header a:hover { color: #ccc; }
header #asteroids { position: absolute; top: 31px; left: 266px; padding: 2px; }

footer { background: url(../images/footerBackground.png) repeat-x; padding: 20px 0; }
footer #footerWrapper { width: 980px; margin: 0 auto; overflow: hidden; *zoom: 1; }
footer #footerWrapper .footerBlock { float: left; width: 220px; padding: 0 10px; }
footer #footerWrapper .footerBlock b { display: block; text-transform: uppercase; color: #666; font-size: 11px; border-bottom: 1px solid #CCC; padding-bottom: 5px; margin-bottom: 5px; }
footer #footerWrapper .footerBlock ul { list-style-type: none; margin-left: 0; padding-top: 5px; }
footer #footerWrapper .footerBlock ul li { padding-bottom: 5px; }
footer #footerWrapper .footerBlock ul li a { color: #444; }
footer #footerWrapper .footerBlock ul li a:hover { color: #0160a0; }

#filters { padding-top: 7px; margin-right: 10px; z-index: 1; position: relative; top: 15px; height: 30px; }
#filters #density { display: inline; width: 50%; }
#filters #density #less, #filters #density #more { display: inline; text-decoration: none; padding: 0 7px; color: #666; }
#filters #density #densitySlider { background: url(../images/sliderBackground.png); display: inline; position: relative; bottom: 4px; }
#filters #density #densitySlider span { position: relative; right: 5px; top: 2px; padding: 2px 9px; margin-right: 15px; cursor: pointer; }
#filters #density #densitySlider span.density { background: url(../images/sliderDefault.png) no-repeat; }
#filters #density #densitySlider span.densityCur { background: url(../images/sliderSelection.png) no-repeat; }
#filters #density #densitySlider span.densityLast { padding: 2px 10px; margin-right: -12px; }
#filters #collegeFilter { -webkit-box-shadow: 0 2px 2px 0 #cccccc; -moz-box-shadow: 0 2px 2px 0 #cccccc; box-shadow: 0 2px 2px 0 #cccccc; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZTZlNmU2Ii8+PHN0b3Agb2Zmc2V0PSI1MiUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(51%, #e6e6e6), color-stop(52%, #dfdfdf), color-stop(100%, #dfdfdf)); background: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6 51%, #dfdfdf 52%, #dfdfdf); background: -moz-linear-gradient(top, #f5f5f5, #e6e6e6 51%, #dfdfdf 52%, #dfdfdf); background: -o-linear-gradient(top, #f5f5f5, #e6e6e6 51%, #dfdfdf 52%, #dfdfdf); background: linear-gradient(top, #f5f5f5, #e6e6e6 51%, #dfdfdf 52%, #dfdfdf); position: absolute; top: 0; right: 0; border: 1px solid #999; padding: 6px 8px; margin-right: 5px; z-index: 999; }
#filters #collegeFilter a { color: #666; display: block; padding-top: 0; background: url(../images/menuIcon.png) no-repeat transparent; background-position: right 0px; padding-right: 15px; }

#main { overflow: hidden; *zoom: 1; width: 100%; position: relative; background-color: transparent; }
#main #wrapper { float: left; margin-left: -300px; position: relative; right: 100%; width: 200%; position: relative; -webkit-box-shadow: 0 2px 6px #333333; -moz-box-shadow: 0 2px 6px #333333; box-shadow: 0 2px 6px #333333; }
#main #wrapper #centerCol { float: left; width: 50%; position: relative; left: 50%; }
#main #wrapper #centerCol #content { margin: 0 0 0 280px; text-align: center; }
#main #wrapper #centerCol #content #instKeyEntryTemplate { display: none; }
#main #wrapper #centerCol #content #institutionKey { margin: 7px 7px 7px 25px; line-height: 150%; }
#main #wrapper #centerCol #content #institutionKey span { display: inline-block; cursor: default; padding-left: 3px; }
#main #wrapper #centerCol #content #institutionKey span:hover { background-color: #c3d6e4; }
#main #wrapper #centerCol #content #institutionKey span .instColor { position: relative; top: 3px; height: 16px; width: 16px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; margin: 0 4px 0 2px; padding: 0; border: 1px solid black; }
#main #wrapper #centerCol .node { color: #000; cursor: pointer; text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF; }
#main #wrapper #empty { display: none; margin-left: auto; margin-right: auto; width: 300px; text-align: center; line-height: 1.2em; margin-top: 200px; font-size: 26px; font-weight: bold; color: white; }
#main #wrapper #sidebar { float: right; width: 262px; position: relative; left: 280px; min-height: 500px; padding-top: 20px; }
#main #wrapper #sidebar #login { float: right; position: relative; margin-bottom: 5px; }
#main #wrapper #sidebar #login .login_input { border: 1px solid #666; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; display: block; float: right; margin-bottom: 7px; margin-top: 2px; min-height: 15px; padding: 5px 2px; width: 175px; }
#main #wrapper #sidebar #login .login_submit { clear: both; display: block; float: left; margin-bottom: 5px; margin-left: 80px; }
#main #wrapper #sidebar #login .forgot_password { display: block; float: left; margin-left: 10px; margin-top: 5px; }
#main #wrapper #sidebar #login label { clear: both; display: block; float: left; margin: 3px 0px 3px 3px; padding-right: 7px; padding-top: 9px; text-align: right; width: 70px; }
#main #wrapper #sidebar #searchBox { width: 233px; font-size: 12px; padding: 8px 6px 7px 22px !important; background: url(../images/searchIcon.png) no-repeat white; background-position: 5px 7px; border: 1px solid #999; -webkit-appearance: textfield; -webkit-padding-bottom: 3px; margin-bottom: 7px; }
#main #wrapper #sidebar #currentFocus { font-size: 16px; font-weight: bold; color: #000; }
#main #wrapper #sidebar #pf_email { margin-top: 5px; padding-top: 5px; border-top: 1px solid #666; }
#main #wrapper #sidebar #editRequestButton { display: block; margin-bottom: 7px; }
#main #wrapper #sidebar #searchWrapper .searchHeader .searchTitle, #main #wrapper #sidebar #deepSearchWrapper .searchHeader .searchTitle { font-size: 13px; font-weight: normal; display: inline; margin-top: 15px; }
#main #wrapper #sidebar #searchWrapper .searchHeader .searchTitle .searchAttention, #main #wrapper #sidebar #deepSearchWrapper .searchHeader .searchTitle .searchAttention { text-decoration: none; font-weight: bold; }
#main #wrapper #sidebar #searchWrapper .searchTitle .searchAttention, #main #wrapper #sidebar #deepSearchWrapper .searchTitle .searchAttention { text-decoration: underline; }
#main #wrapper #sidebar #searchWrapper .moreSearchResults, #main #wrapper #sidebar #deepSearchWrapper .moreSearchResults { margin: 10px 0; }
#main #wrapper #sidebar #searchWrapper #pageNav, #main #wrapper #sidebar #deepSearchWrapper #pageNav { text-align: center; padding-top: 15px; height: 30px; }
#main #wrapper #sidebar #searchWrapper .personSearchInst, #main #wrapper #sidebar #deepSearchWrapper .personSearchInst { color: #000; margin-left: 25px; }
#main #wrapper #sidebar #searchWrapper .personSearchDept, #main #wrapper #sidebar #deepSearchWrapper .personSearchDept { color: #555; margin-left: 25px; }
#main #wrapper #sidebar #searchWrapper .requestTitle, #main #wrapper #sidebar #deepSearchWrapper .requestTitle { font-weight: 600; }
#main #wrapper #sidebar #searchWrapper .requestCreationInfo a, #main #wrapper #sidebar #deepSearchWrapper .requestCreationInfo a { border-top: none !important; display: inline !important; }
#main #wrapper #sidebar #searchWrapper .requestDescription, #main #wrapper #sidebar #deepSearchWrapper .requestDescription { margin-left: 15px; }
#main #wrapper #sidebar .sidebarSection { border-top: 1px solid #666; padding-top: 10px; margin-top: 7px; margin-bottom: 7px; }
#main #wrapper #sidebar .sidebarSection h2 { letter-spacing: .5px; text-transform: uppercase; color: #666; font-size: 11px; padding-bottom: 5px; }
#main #wrapper #sidebar .sidebarSection ul { list-style-type: none; padding: 0; margin: 0; }
#main #wrapper #sidebar .sidebarSection ul a { display: block; padding: 3px 0; border-top: 1px solid #EFEFEF; color: #0160a0; }
#main #wrapper #sidebar .sidebarSection ul a:hover { background-color: #c3d6e4; }
#main #wrapper #sidebar .sidebarSection ul div.more { display: none; }

#schoolSelectBox { -webkit-box-shadow: 0 2px 4px 0 #999999; -moz-box-shadow: 0 2px 4px 0 #999999; box-shadow: 0 2px 4px 0 #999999; position: absolute; width: 260px; max-height: 500px; background-color: #FFF; padding: 6px; border: 4px solid #666; z-index: 100; display: none; }
#schoolSelectBox .consortiaList { list-style-type: none; padding: 0; margin: 0 0 5px 0; }
#schoolSelectBox .consortiaList li { overflow: hidden; *zoom: 1; padding-left: 20px; }
#schoolSelectBox .consortiaList li.consortia { padding-left: 0; }
#schoolSelectBox .consortiaList input { float: left; width: 20px; padding: 0; }
#schoolSelectBox .consortiaList label { display: table-cell; width: 1000px; }

#editProfile { background: #eeeeee; padding: 0px; margin: 0px auto; }
#editProfile #center_wrapper { width: 950px; margin: 0px auto; padding: 30px 0 15px 0; border-left: 1px solid black; border-right: 1px solid black; background: white; z-index: 30; position: relative; }
#editProfile #center_wrapper .instructions { padding-bottom: 15px; text-align: center; }
#editProfile #center_wrapper .instructions p { text-align: center; }
#editProfile #center_wrapper #profile_picture { width: 90px; margin: 0 auto; text-align: center; display: block; }
#editProfile #center_wrapper #change_pf_picture { margin-left: 75px; margin-bottom: 10px; }
#editProfile #center_wrapper #edit_profile_container { width: 495px; margin-right: 10px; float: left; }
#editProfile #center_wrapper .columnHeader { text-align: center; }
#editProfile #center_wrapper .topBorder { border-top: 1px solid #D7D7D7; }
#editProfile #center_wrapper #left_column { width: 495px; margin-right: 10px; float: left; }
#editProfile #center_wrapper #right_column { width: 435px; float: right; margin: 0px auto; }
#editProfile #center_wrapper #right_column li { margin-bottom: 5px; }
#editProfile #center_wrapper #right_column a { color: #2F9599; }
#editProfile #center_wrapper .subcolumn_left { float: left; padding: 10px; }
#editProfile #center_wrapper .subcolumn_left label { font-size: 15px; }
#editProfile #center_wrapper .subcolumn_left label span { font-size: 14px; padding-top: 6px; font-style: italic; display: block; color: #008f8f; }
#editProfile #center_wrapper .left1 { width: 180px; }
#editProfile #center_wrapper .left2 { width: 120px; }
#editProfile #center_wrapper .subcolumn_right { float: left; padding: 20px 10px 13px 10px; width: 260px; }
#editProfile #center_wrapper .subcolumn_right input { padding: 3px; width: 250px; height: 30px; }
#editProfile #center_wrapper .subcolumn_right input, #editProfile #center_wrapper .subcolumn_right textarea { border: 1px solid gray; }
#editProfile #center_wrapper .otherInstitutions, #editProfile #center_wrapper .personLinks { margin-bottom: 5px; }
#editProfile #center_wrapper #editInterests { padding: 3px; width: 270px; height: 150px; }
#editProfile #center_wrapper .clear { height: 0; clear: both; }
#editProfile #center_wrapper #submit_edits { margin-top: 15px; text-align: center; font-size: 18px; }
#editProfile #center_wrapper #submit_edits input, #editProfile #center_wrapper #submit_edits #cancel { margin: 0 15px; font-size: 18px; }
#editProfile #center_wrapper #account_delete { margin-top: 15px; margin-bottom: 20px; text-align: center; font-size: 16px; }
#editProfile #center_wrapper .customLinkTemplate { display: none; }
#editProfile #center_wrapper .customLink { overflow: hidden; width: 90%; clear: both; border: solid 1px #d7d7d7; padding: 5px; margin-bottom: 5px; }
#editProfile #center_wrapper .customLinkCaption { overflow: hidden; width: 100%; clear: both; }
#editProfile #center_wrapper .linkNumber, #editProfile #center_wrapper .institutionNumber { text-align: center; float: left; margin: 0 6px 0 0; vertical-align: bottom; position: relative; top: 3px; }
#editProfile #center_wrapper .linkValue, #editProfile #center_wrapper .otherInstitutionURL { width: 40%; text-align: center; float: left; margin: 0px 10px 0 0; }
#editProfile #center_wrapper .linkField, #editProfile #center_wrapper .otherInstitutionField { width: 40%; text-align: center; float: left; margin: 0px 20px 0 0; }
#editProfile #center_wrapper .customLinkCaption .linkField, #editProfile #center_wrapper .customLinkCaption .linkValue, #editProfile #center_wrapper .customLinkCaption .otherInstitutionField, #editProfile #center_wrapper .customLinkCaption .otherInstitutionURL { font-style: italic; color: #008f8f; }
#editProfile #center_wrapper .linkField input, #editProfile #center_wrapper .linkValue input, #editProfile #center_wrapper .otherInstitutionField input, #editProfile #center_wrapper .otherInstitutionURL input { width: 100%; }
#editProfile #center_wrapper .fieldLabel { text-align: right; }
#editProfile #center_wrapper .removeLink { float: left; text-decoration: none; position: relative; top: 3px; }
#editProfile #center_wrapper .removeLink img { height: 12px; width: 12px; }
#editProfile #center_wrapper .addItemDiv { padding-top: 8px; clear: both; }
#editProfile #center_wrapper .editPicture { text-align: center; line-height: 1.25em; float: left; }
#editProfile #center_wrapper .editPicture .links { position: relative; }
#editProfile #center_wrapper .editPicture .links a { z-index: -1; }
#editProfile #center_wrapper #imgUploaderUploader { position: absolute; top: 0px; left: 0px; width: 100px; height: 25px; z-index: 100; }
#editProfile #center_wrapper .center { text-align: center; }
#editProfile #center_wrapper #tagContainer { position: absolute; bottom: 0px; right: 0px; left: 0px; min-width: 950px; text-align: center; color: #d0d3b3; z-index: -10; }
#editProfile #center_wrapper #tagContainer a { color: #ffe; }
#editProfile #center_wrapper #registerTitle { margin-left: auto; margin-right: auto; width: 950px; z-index: -30; padding: 10px 0 10px 0; }
#editProfile #center_wrapper .progressBar { display: none; backbground-color: #FFDDDD; }
#editProfile #center_wrapper .progressBar span { margin: 3px; position: absolute; }

#passwordEdit, #passwordForgot { background: #eeeeee; }
#passwordEdit #main, #passwordForgot #main { background: white; padding-top: 75px; padding-bottom: 50px; border-right: 1px solid black; border-left: 1px solid black; width: 55%; margin-right: auto; margin-left: auto; text-align: center; }
#passwordEdit #main div, #passwordEdit #main span, #passwordEdit #main li, #passwordEdit #main label, #passwordEdit #main p, #passwordEdit #main input, #passwordForgot #main div, #passwordForgot #main span, #passwordForgot #main li, #passwordForgot #main label, #passwordForgot #main p, #passwordForgot #main input { font-family: Arial; font-size: 18px; }
#passwordEdit #main p, #passwordForgot #main p { margin: 10px 0px; }
#passwordEdit #main table, #passwordForgot #main table { width: 100%; }
#passwordEdit #main table#resetPass, #passwordForgot #main table#resetPass { margin-left: 30px; }
#passwordEdit #main table label, #passwordForgot #main table label { text-align: right; margin: 10px; }
#passwordEdit #main table td, #passwordForgot #main table td { padding-top: 10px; }
#passwordEdit #main table tr td:nth-child(1), #passwordForgot #main table tr td:nth-child(1) { text-align: right; }
#passwordEdit #main table tr td:nth-child(2), #passwordForgot #main table tr td:nth-child(2) { text-align: left; }
#passwordEdit #main table h2, #passwordForgot #main table h2 { font-size: 28px; font-weight: bold; margin-bottom: 20px; color: #003333; }

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
.jqmWindow { display: none; position: fixed; top: 5%; left: 40%; margin-left: -200px; width: 600px; background-color: #eeeeee; color: #333; padding: 12px; border: 1px solid black; }
.jqmWindow .jqmOverlay { background-color: #000; }

#listRequestContainer #closeListRequests { padding: 0px; margin: 0px; position: absolute; top: 8px; right: 8px; }
#listRequestContainer th { font-weight: bold; }
#listRequestContainer p { margin-bottom: 10px; }
#listRequestContainer table { padding: 0 5px 0 5px; }
#listRequestContainer tbody td { padding: 7px 5px; }
#listRequestContainer tbody tr { border-top: 1px solid gray; border-bottom: 1px solid gray; border-left: 1px solid black; border-right: 1px solid black; background-color: white; }
#listRequestContainer tbody tr:hover { background-color: #cdf; cursor: pointer; }
#listRequestContainer tbody tr .title { color: #577; width: 25%; }
#listRequestContainer tbody tr .expires { width: 15%; }
#listRequestContainer tbody tr .creator { width: 20%; }
#listRequestContainer tbody tr .description { width: 40%; }
#listRequestContainer h1 { font-size: 16px; font-weight: bold; margin-bottom: 10px; }

#createRequestContainer #dialogTitle { padding-top: 5px; text-align: center; z-index: -30; }
#createRequestContainer .section { border-bottom: 1px solid black; }
#createRequestContainer .section .registerLeft { position: relative; display: inline-block; padding: 0 10px; width: 200px; float: left; }
#createRequestContainer .section .registerLeft label { font-size: 15px; }
#createRequestContainer .section .registerLeft label span { font-size: 14px; padding-top: 6px; font-style: italic; display: block; color: #008f8f; }
#createRequestContainer .section .registerRight { margin: 10px; width: 600px; }
#createRequestContainer .section .registerRight.datePicker { margin-bottom: 50px; }
#createRequestContainer .section .registerRight input { height: 30px; }
#createRequestContainer .section .registerRight input, #createRequestContainer .section .registerRight textarea { border: 1px thin #ccc; width: 370px; }
#createRequestContainer #submitRequest { margin-top: 7px; text-align: center; }
#createRequestContainer #submitRequest input { font-size: 18px; }

#filterDialog { margin: auto; width: 425px; }
#filterDialog #consortiaFilter { margin-left: 5px; }
#filterDialog #consortiaFilter h3 { display: inline-block; }
#filterDialog #consortiaFilter form { display: inline-block; margin-left: 5px; }
#filterDialog #consortiaFilter form select { width: 250px; }
#filterDialog input[type="submit"] { display: inline-block; font-size: 13px; margin: 2px; }
#filterDialog #collegeSearchAuto { margin: 0 3px 0 27px; border: 1px solid black; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; margin-left: 15px; padding: 5px 3px; width: 160px; }
#filterDialog #closeCollegeFilter { margin: 0; padding: 0; position: absolute; right: 8px; top: 8px; }
#filterDialog #collegeFilterEditButtons { margin: 10px 0; overflow: hidden; width: 100%; }
#filterDialog #editColleges { clear: both; height: 430px; }
#filterDialog #selectedColleges { background-color: white; border: 1px solid gray; clear: both; height: 350px; margin: 5px; overflow: auto; padding: 5px; }
#filterDialog #selectedColleges ul { list-style-type: none; padding: 0; margin: 0; }
#filterDialog #selectedColleges ul .collegeDiv { display: none; }
#filterDialog #selectedColleges ul .collegeDiv li { list-style-type: none; display: block; padding: 3px 0; border-top: 1px solid #EFEFEF; }
#filterDialog #selectedColleges ul .collegeDiv li img { width: 15px; }
#filterDialog #selectedColleges ul .collegeDiv li:hover { background-color: #c3d6e4; }
#filterDialog #submitColleges { margin: 5px; text-align: center; }

#message { background: #eeeeee; }
#message #main { background: white; padding-top: 75px; padding-bottom: 50px; border-left: 1px solid black; border-right: 1px solid black; width: 100%; margin-right: auto; margin-left: auto; text-align: center; }
#message #main div, #message #main span, #message #main li, #message #main label, #message #main p, #message #main input { font-family: Arial; font-size: 18px; }
#message #main p { margin: 10px 0px; }

.ttName { font-weight: bold; margin-bottom: 7px; }

.ttDesc { margin-bottom: 7px; }

h1 { font: 30px Georgia; font-weight: bold; position: absolute; }

p { font: 17px Georgia; color: #000000; position: absolute; width: 175mm; }

.background { width: 200mm; height: 130mm; border-radius: 50px; background: #f3f4f4; }

.largeCircle { width: 40px; height: 40px; border-radius: 50px; position: absolute; }

.insideCircle { width: 34px; border: 1px solid #ffffff; height: 34px; border-radius: 50px; font-size: 20px; color: #ffffff; line-height: 100px; text-align: center; position: absolute; top: 0.5mm; left: 0.5mm; }

div.textarea { position: absolute; left: 145px; top: 200px; right: 115px; bottom: 115px; }
div.textarea input.submit { position: absolute; left: 405px; top: -30px; }
div.textarea input.addButton { position: absolute; left: 200px; top: 200px; }

div.interestAdd { position: absolute; left: 84px; top: 79px; right: 115px; bottom: 115px; }
div.interestAdd input.addButton { position: absolute; left: 153px; top: 0px; }

textarea { position: absolute; width: 45%; height: 40%; margin: 0; /* don't want to add to container size */ border: 0; /* don't want to add to container size */ }

/*/mediaquery*/
/*/mediaquery*/
