.textInput{
	-moz-border-radius:5px 5px 5px 5px;
	background-color: #B2D4EC !important;
	min-height:20px;
	min-width:200px;
	padding: 10px 5px;
}

#nimbleBG{
    background-color:#000000 !important
}

#doc{
	background-color:#A2AB8E !important;
	height:100%;
	width:100%;
	font-family:Helvetica,Arial;
}
#main{
	background-color:#FFFFEE;
	width:60%;
	margin:auto;
	min-height:100%;
	min-width:500px;
	border-left:#674873 solid thin;
	border-right:#674873 solid thin;
}
#passwordWrapper{
	z-index:2;
	-moz-border-radius:5px 5px 5px 5px;
	border:#000000 double 5px;
	margin:auto;
	height:330px;
	width:500px;
	background-color:#FFFFEE;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	visibility:collapse;
}
#changePassword h3{
	width:45%;
}

#changePassword{
	margin-top:10%;
	margin-bottom:10%;
}
#changePassword input{
	margin-left:25px;
}
#oldPassword, #verifyPassword{
	padding:10px;
	clear:both;
	height:50px;
}
#newPassword, #submitPassword{
	padding:10px;
	clear:both;
	height:25px;
}
#submitPassword{
	text-align:center;
	margin: 0px;
	padding-top:30px;
}

#page{
	position:relative;
	margin:auto;
	padding-bottom:40px;
}

#editProfile{
	width:100%;
	background-color:#674873;
	height:90px;
	padding-bottom:10px;
	text-align:center;
	font-size:30px;
}
#editAccountInformationDiv, #editOptionalInformationDiv{
	background-color:#FFFFEE;
	text-align:left;
	min-height:150px;
	clear:both;
	overflow:hidden;
	
}
#editAccountInformation, #editOptionalInformation{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	margin-bottom:20px;
	background-color:#FFFFEE;
	overflow:hidden;


}
#fullNameField, #passField, #passConfirmField, #emailField, #institutionField, #institutionAddressField, #titleField, #departmentField, #projects, #links{
	clear:both;
	padding-bottom:20px;
	padding-top:20px;
	overflow:hidden;
}
#editName, #editPassword, #editEmail, #editCollege, #editDepartment, #editInterests, #editProjects, #editLinks, #editPhoto{
	width:55%;
	float:right;
	clear:right;
	color:#000000;
}
#editPassword,#editCollege, #editEmail, #editPhoto, #editProjects{
	margin-top:10px;
}
#editPhoto{
	line-height:2;
	font-size:14px;
}
#pw{
	float:left;
	width:150px;
	font-size:20px;
}
#changePw{
	float:left;
}

#instructions{
	width:35%;
	margin-left:65%;
	margin-top:15px;
	text-align:right;
	font-size:14px;
}
#interestField textarea{
	height:80px;
	width:70%;
	float:left;
	-moz-border-radius:5px 5px 5px 5px;
	background-color:#B2D4EC;
	padding: 10px 5px;
}
#addProject, #addLink{
	margin-bottom:20px;
}
#tittle,#url{
	margin-bottom:10px;
}
#projectsList, #linksList{
	font-size:14px;
	clear:left;
	line-height:1.5;
	margin-left:20px;
}
#linksList input, #projectsList input{
	float:right;
}
#linksList li{
	clear:both;
}
#addLinkButton{
	text-align:center;
}
#submitCenterDiv{
	width:100%;
	background-color:#674873;
	border-top:#697354 solid thin;
	height:20px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
#submitBottomDiv{
	width:60%;
	background-color:#674873;
	border-top:#697354 solid thin;
	height:20px;
	padding-top:10px;
	padding-bottom:20px;
	position:relative;
	margin:auto;
	margin-top:-40px;
	text-align:center;
	clear:both;
	min-width:500px;
	clear:both;
	border-left:#674873 solid thin;
	border-right:#674873 solid thin;
}
h1{
	width:100%;
	height:30px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font-size:30px;
}

h2{
	width:100%;
	background-color:#B79FBF;
	padding-top:10px;
	padding-bottom:10px;
	height:20px;
	overflow:hidden;
	text-align:center;
	border-top:thin solid #674873;
	border-bottom:thin solid #674873;
	font-size:20px;
	margin-bottom:20px;

}
h3{
	width:35%;
	text-align:right;
	float:left;
	clear:left;
	font-size:18px;
	padding-top:10px;
}
h4{
	width:35%;
	float:left;
	clear:left;
	padding-top:10px;
	color:#000000;
}