#tooltipBox {
    position:absolute;
    width : 230;
    background-color: #eaeaea;
    border: 3px dotted #ffffff;
    font: 13px Georgia;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
}

.interest {
    font: 13px Georgia;
    fill: #C0C0C0;
}
.hub {
    font: 13px Georgia;
    fill: #C0C0C0;
}
path.tooltip{
    background-color: #eaeaea;
    border: 3px dotted #ffffff;
    border-radius: 5px;
}