/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio,
video {margin: 0;	padding: 0;	 border: 0;	font-size: 100%;font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
    blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}


/**
Css Styling for the HTML visuzalization

custom button things:
http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/
(example #3)


**/

.mainContainer{
    width: 80%;
    /*height: 70%;*/
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #d3d3d3;
    background-color: #F3F4F4;
}

h1 {
    color: #000000;
    background-color: #F3F4F4;
    font: 65px Georgia;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
}

h2 {
    color: #000000;
    background-color: #F3F4F4;
    font: 15px Georgia;
    text-align: right;
    vertical-align: middle;
    padding: 5px 5px;
}

/*hr {*/
    /*border: 0;*/
    /*height: 0;*/
    /*border-top: 1px solid #d3d3d3;*/
    /*border-bottom: 1px solid #d3d3d3;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

table.people {
    /*border-top: 1px solid #d3d3d3;*/
    frame: none;
    z-index: -2;
    width: 100%;
}

th.people {
    color: #000000;
    background-color: #F3F4F4;
    text-align: center;
    vertical-align: middle;
    white-space: pre-line;
    padding: 2% 1%;
}

tr.people {
    color: #000000;
    background-color: #ffffff;
    font: 25px Georgia;
    border-bottom: 2px solid #d3d3d3;
    cursor: default;
}

th.people:hover{
    cursor: default;
}

tr.people:hover {
    background-color: #F3F4F4;
    cursor: pointer;
}

td.people {
    padding: 10px 10px;
    vertical-align: middle;
    width: 20%;
}

.rect{
    float:left;
    height: 30px; /* or whatever you want */
    position:relative;
    border: 1px solid #ffffff;
}

table.interest{
    background-color: #F3F4F4;
    width: 90%;
    text-align: left;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    font: 17px Georgia;
    color: #858585;
}

img.person {
    max-height: 60px;
    max-width: 60px;
}

img.interest{
  max-height: 15px;
  max-width: 15px;
}

a {
  font: 17px Georgia;
  color: #858585;
}

table.slider{
    font: 10px Georgia;
    vertical-align: middle;
    color: #848484;
    float: right;
}

td.slider{
    vertical-align: middle;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #ffffff;
    border-radius: 7px;
    border: 2px solid #d3d3d3;
    box-shadow: none;
    cursor: pointer;
    outline: none;

    /* Font settings */
    font: 17px Georgia;
    color: #858585;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #d3d3d3 transparent;
}

.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid #d3d3d3;
    box-shadow: none;
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #d3d3d3;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li img {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #F3F4F4;
}

/* Active state */
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

.wrapper-dropdown-3.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
    z-index: 1;

}

.wrapper-dropdown-3.active {
    background: #9bc7de;
    background: linear-gradient(to right, #F3F4F4 0%, #F3F4F4 78%, #ffffff 78%, #ffffff 100%);
    z-index: 1;

}

.tooltip{
   background-color: #F3F4F4;
   font: 17px Georgia;
   color: #858585;
   padding: 10px 10px;
   border-radius: 7px;
   border: 2px solid #d3d3d3;
}

/*Sliders*/

#pink, #purple, #blue, #green, #orange {
    float: left;
    clear: left;
    width: 150px;
    margin: 15px;
    background-color: #d3d3d3;
}

.ui-slider-range {
    background: #d3d3d3;
}

#pink .ui-slider-handle {
    background: #f5a3d6;
    border-color: #ffffff;
    border-width: 2px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

#purple .ui-slider-handle {
    background: #b2a3f5;
    border-color: #ffffff;
    border-width: 2px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

#blue .ui-slider-handle {
    background: #A8C4E5;
    border-color: #ffffff;
    border-width: 2px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

#green .ui-slider-handle {
    background: #b4f5a3;
    border-color: #ffffff;
    border-width: 2px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

#orange .ui-slider-handle {
    background: #f2b06e;
    border-color: #ffffff;
    border-width: 2px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}